In [5]:
X= []
import numpy as np

In [6]:
for line in open("data_2d.csv"):
    row = line.split(',')
    sample = map(float,row)
    X.append(sample)

In [7]:
X

[<map at 0x6b61208>,
 <map at 0x6b01668>,
 <map at 0x76ecf28>,
 <map at 0x76f7048>,
 <map at 0x76f70b8>,
 <map at 0x76f7128>,
 <map at 0x76f7198>,
 <map at 0x76f7208>,
 <map at 0x76f7278>,
 <map at 0x76f72e8>,
 <map at 0x76f7358>,
 <map at 0x76f73c8>,
 <map at 0x76f7438>,
 <map at 0x76f74a8>,
 <map at 0x76f7518>,
 <map at 0x76f7588>,
 <map at 0x76f75f8>,
 <map at 0x76f7668>,
 <map at 0x76f76d8>,
 <map at 0x76f7748>,
 <map at 0x76f77b8>,
 <map at 0x76f7828>,
 <map at 0x76f7898>,
 <map at 0x76f7908>,
 <map at 0x76f7978>,
 <map at 0x76f79e8>,
 <map at 0x76f7a58>,
 <map at 0x76f7ac8>,
 <map at 0x76f7b38>,
 <map at 0x76f7ba8>,
 <map at 0x76f7c18>,
 <map at 0x76f7c88>,
 <map at 0x76f7cf8>,
 <map at 0x76f7d68>,
 <map at 0x76f7dd8>,
 <map at 0x76f7e80>,
 <map at 0x76f7f28>,
 <map at 0x76f7fd0>,
 <map at 0x76fb0b8>,
 <map at 0x76fb160>,
 <map at 0x76fb208>,
 <map at 0x76fb2b0>,
 <map at 0x76fb358>,
 <map at 0x76fb400>,
 <map at 0x76fb4a8>,
 <map at 0x76fb550>,
 <map at 0x76fb5f8>,
 <map at 0x76fb6a0>,
 <map at 0x76fb748>,
 <map at 0x76fb7f0>,
 <map at 0x76fb898>,
 <map at 0x76fb940>,
 <map at 0x76fb9e8>,
 <map at 0x76fba90>,
 <map at 0x76fbb38>,
 <map at 0x76fbbe0>,
 <map at 0x76fbc88>,
 <map at 0x76fbd30>,
 <map at 0x76fbdd8>,
 <map at 0x76fbe80>,
 <map at 0x76fbf28>,
 <map at 0x76fbfd0>,
 <map at 0x77000b8>,
 <map at 0x7700160>,
 <map at 0x7700208>,
 <map at 0x77002b0>,
 <map at 0x7700358>,
 <map at 0x7700400>,
 <map at 0x77004a8>,
 <map at 0x7700550>,
 <map at 0x77005f8>,
 <map at 0x77006a0>,
 <map at 0x7700748>,
 <map at 0x77007f0>,
 <map at 0x7700898>,
 <map at 0x7700940>,
 <map at 0x77009e8>,
 <map at 0x7700a90>,
 <map at 0x7700b38>,
 <map at 0x7700be0>,
 <map at 0x7700c88>,
 <map at 0x7700d30>,
 <map at 0x7700dd8>,
 <map at 0x7700e80>,
 <map at 0x7700f28>,
 <map at 0x7700fd0>,
 <map at 0x77030b8>,
 <map at 0x7703160>,
 <map at 0x7703208>,
 <map at 0x77032b0>,
 <map at 0x7703358>,
 <map at 0x7703400>,
 <map at 0x77034a8>,
 <map at 0x7703550>,
 <map at 0x77035f8>,
 <map at 0x77036a0>,
 <map at 0x7703748>,
 <map at 0x77037f0>,
 <map at 0x7703898>,
 <map at 0x7703940>]

In [8]:
X= np.array(X)

In [9]:
X.shape

(100,)

In [10]:
import pandas as pd 
Y = pd.read_csv("data_2d.csv", header=None)
type(Y)

pandas.core.frame.DataFrame

In [11]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

In [12]:
Y.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [13]:
M = Y.as_matrix()

In [14]:
type(M)

numpy.ndarray

In [16]:
M[0,0]

17.930201205199999

In [18]:
Y[0]

0     17.930201
1     97.144697
2     81.775901
3     55.854342
4     49.366550
5      3.192702
6     49.200784
7     21.882804
8     79.509863
9     88.153887
10    60.743854
11    67.415582
12    48.318116
13    28.829972
14    43.853743
15    25.313694
16    10.807727
17    98.365746
18    29.146910
19    65.100302
20    24.644113
21    37.559805
22    88.164506
23    13.834621
24    64.410844
25    68.925992
26    39.488442
27    52.463178
28    48.484787
29     8.062088
        ...
70    30.187692
71    11.788418
72    18.292424
73    96.712668
74    31.012739
75    11.397261
76    17.392556
77    72.182694
78    73.980021
79    94.493058
80    84.562821
81    51.742474
82    53.748590
83    85.050835
84    46.777250
85    49.758434
86    24.119257
87    27.201576
88     7.009596
89    97.646950
90     1.382983
91    22.323530
92    45.045406
93    40.163991
94    53.182740
95    46.456779
96    77.130301
97    68.600608
98    41.693887
99     4.142669
Name: 0, Length: 100, dtype: float64

In [23]:
Y.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486